services:
  db:
    image: postgres:16
    container_name: anchorpipe_db
    restart: unless-stopped
    ports:
      - "15432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: anchorpipe_dev
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: anchorpipe_redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  mq:
    image: rabbitmq:3-management
    container_name: anchorpipe_mq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"

  storage:
    image: minio/minio:latest
    container_name: anchorpipe_storage
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadminpassword
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  db_data:
  minio_data:
